
.about-profile {
  height: fit-content;
}

.about-profile{
  height: 80dvh;
  width: auto;
  min-height: 50dvh;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

/* Less than 600 */
@media screen and (max-width: 600px) {
  .about-profile  {
    height: 30dvh;
    width: 100%;
    flex-direction: column;
  }
}