:root {
  --dark-primary: #073869;
  --light-primary: #BBDEFB;
  --primary: #2196F3;
  --white: #FFFFFF;
  --accent: #03A9F4;
  --primary-text:#212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;

  --dm-serif-display: "DM Serif Display", serif;
  --dm-sans: "DM Sans", sans-serif;

  --min-padding: 10px;
  --max-padding: 80px;

  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1 {
  font-family: var(--dm-serif-display);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--primary-text);
  font-size: 3rem;
}
h2 {
  font-family: var(--dm-sans);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-text);
  font-size: 1.7rem;

}
h3 {
  font-family: var(--dm-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: var(--primary-text);
  font-size: 1.2rem;

}

p {
  font-family: var(--dm-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-text);
  font-size: 1rem;
}

body{
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.container {
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);
}

.vertical-spacer-8 {
  height: 8px;
}
.vertical-spacer-24 {
  height: 24px;
}

.section-padding{
  padding-top:2em;
  padding-bottom: 2em;
}

.horizontal-spacer-8 {
  width: 8px;
}
.horizontal-spacer-24 {
  width: 24px;
}
button {
  font-family: var(--dm-serif-display);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-text);
  background-color: var(--white);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid var(--dark-primary);
  border-radius: 20px;
  box-shadow: var(--box-shadow);  
}

button:focus{
  background-color: var(--dark-primary);
  color: var(--white);
}

/* Less than 600 */
@media screen and (max-width: 600px) {
  .flex-row {
    display: flex;
    flex-direction: column;
  }
  .horizontal-spacer-8 {
    height: 8px;
  }
  .horizontal-spacer-24 {
    height: 24px;
  }
}

/* Greater than 600 */
@media screen and (min-width: 600px) {
  .container {
    padding-left: calc(var(--min-padding) + ((var(--max-padding) - var(--min-padding)) * ((100vw - 600px) / (1000 - 600))));
    padding-right: calc(var(--min-padding) + ((var(--max-padding) - var(--min-padding)) * ((100vw - 600px) / (1000 - 600))));
  }
  
}

/* Greater than 1000 */
@media screen and (min-width: 1000px) {
  .container {
    padding-left: var(--max-padding);
    padding-right: var(--max-padding);
  }
}
